* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#282930;
}

li, a {
    font-family: "Michroma";
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30%;
    border: solid;
    border-left: none;
    border-right: none;
    border-color: white;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.returnButton li {
    list-style: none;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.nav__links li a:hover {
    color: #0088A9;
    transform: scale(3);
}

h1, h4 {
    color: white;
    font-family: "Michroma";
    cursor: default;
    display: flex;
    justify-content: center;
}

h3 {
    color: white;
    font-family: normal 16px Arial, Helvetica, sans-serif;
    border: solid;
    border-color: #282930;
    border-left-width: 250px;
    border-right-width: 250px;
    text-align: center;
}
/*
a {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

a:hover {
    color: #0088A9;
    transform: scale(1.25);
}*/

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-links li {
    padding: 0px 30px;
}

.social-links li a {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    transform: scale(2);
}

.social-links li a:hover {
    color: #0088A9;
    transform: scale(3);
}

p {
    color: white;
    text-align: center;
}

.project-images {
    width: 250px;
    height: 150px;
}

.project1 img {
    position: relative;
    left: 20em;
}



/*
.project1 {
    width: 250px;
    height: 100px;
    border: solid;
    text-align: center;
}*/