/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    background-color: #2e2e2e;
}

h1, h4 {
    color: white;
    font-family: "Michroma";
    cursor: default;
    display: flex;
    justify-content: center;
}

.project-images {
    width: 250px;
    height: 150px;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding-left: 20px;
    padding-right: 20px;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-links li {
    padding-left: 20px;
    padding-right: 20px;
    transform: scale(1.6);
}

.social-links li a {
    transition: all 0.3s ease 0s;
    
}

.social-links li a:hover {
    transform: scale(2);
}

header {
    display: flex;
    justify-content: center;
    padding: 30px 30%;
    border: solid;
    border-color: white;
    border-left: none;
    border-right: none;
}

li, a {
    color: #edf0f1;
    text-decoration: none;
}
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#282930;
}

li, a {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30%;
    border: solid;
    border-left: none;
    border-right: none;
    border-color: white;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 30px;
}

.nav__links li a {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.nav__links li a:hover {
    color: #0088A9;
    transform: scale(1.25);
}

h1, h4 {
    color: white;
    font-family: "Rubik";
    cursor: default;
    display: flex;
    justify-content: center;
}

h3 {
    color: white;
    font-family: "Rubik";
    border: solid;
    border-color: #282930;
    border-left-width: 250px;
    border-right-width: 250px;
    text-align: center;
}
/*
a {
    display: flex;
    justify-content: center;
    transition: all 1s ease 0s;
    cursor: pointer;
}*/

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-links li {
    padding: 0px 30px;
}

.social-links li a {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    transform: scale(2);
}

.social-links li a:hover {
    color: #0088A9;
    transform: scale(3);
}

p {
    color: white;
    text-align: center;
}

.project-images {
    width: 250px;
    height: 150px;
}

.project1 img {
    position: relative;
    right: 20%;
}

hr.solid {
    border-top: 3px solid rgb(255, 255, 255);
}

.abMeParagraph {
    font-size: 20px;
    color:rgb(255, 255, 255);
    font-family: Rubik;
    width: 40em;
    padding: 20px;
    margin: auto;
    text-align: center;
}